<div class="container">
    <header>
        <img src="YourFutureGuide_notitle.png" alt="YFGLogo" class="logo">
        <h1>Your Future Guide</h1>
        <p>Scopri quale laurea o carriera fa per te in 5 domande!</p>

        <button class="start-button"><a [routerLink]="['/home']">Let's go!🚀</a></button>

    </header>

    <footer>
        <div class="footer-logos">
            <img src="unibalogo.svg" alt="UniBa Logo" class="footer-logo">
            <img src="cilab.png" alt="CILab Logo" class="footer-logo">
        </div>
    </footer>
  </div>