* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Big Shoulders Display', sans-serif;
    background-color: #f1f1f1;
    overflow: hidden;
  }
  
  :root {
    --primary-color: #3CAAFB;
    --hover-color: #1773b6;
    --secondary-color: #361B44;
    --secondary-light-color: #F2CD5D;
    --secondary-dark-color: #dfb536;
    --description-color: #1d1d1d;
    --rec-color: #222222;
    --accent-color: #bddef7;
    --hover-accent-color: #97cff8;
    --border-color: #cecece;
    --shadow-color: #E8E8E8;
    --extract-color: #edf1ee;
    --error-color: #be1c1c;
  }
  
  button.primary {
    padding: 10px;
    border: solid 1px var(--primary-color);
    background: var(--primary-color);
    color: white;
    border-radius: 8px;
  }
  
  .container {
    width:100%;
    padding-right:var(--bs-gutter-x,.75rem);
    padding-left:var(--bs-gutter-x,.75rem);
    margin-right:auto;
    margin-left:auto;
  }

  
