/* Container for the chat messages */
.chat-container {
    max-width: 1200px;
    width: 800px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    overflow-y: auto;
    height: 74.5vh;
    border-radius: 15px;
    margin: 0 auto;
}

/* Wrapper for messages and avatars */
.message-wrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

/* Avatar styling */
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Avatar for sent messages on the right */
.message-wrapper.sent .avatar {
    margin-left: 10px;
    margin-right: 0;
}

/* Basic message bubble */
.message {
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 75%;
    font-family: "Outfit", sans-serif;
    hyphens: auto; /* Attiva l'ipertesto per le sillabe */
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

/* Message received (other user) */
.message.received {
    text-align: left;
}

/* Message sent (current user) */
.message.sent {
    background-color: var(--primary-color);
    color: white;
    text-align: left;
    margin-left: auto;
}

/* Align sent messages to the right */
.message-wrapper.sent {
    justify-content: flex-end;
}

/* Input area for sending messages */
.message-input {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 10px auto;
    margin-bottom: 65px;
    border-radius: 10px;
    max-width: 1200px;
    width: 800px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.message-input input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    font-family: "Outfit", sans-serif;
    font-size: 14px;
}

.message-input button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 20px;
    background-color: var(--primary-color);
    color: white;
    font-family: "Outfit", sans-serif;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.message-input button:hover {
    background-color: var(--hover-color);
}


/* Container per le opzioni */
.option-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-gap: 15px;
    margin-top: 10px;
}

/* Stile per ciascuna opzione */
.option {
    color: var(--secondary-color);
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid var(--border-color);
    font-family: "Outfit", sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

.option:hover {
    background-color: var(--accent-color);
    border: 1px solid var(--hover-accent-color);

}

/* Impostazioni responsive */
.option-card .option {
    flex: 1 1 calc(50% - 10px); /* 2 opzioni per riga */
    text-align: center;
    margin-bottom: 10px;
}