<div class="chat-container" #chatContainer>
    <div *ngFor="let msg of chatMessagesUI; trackBy: trackByMessageId">
        
        <div *ngIf="msg.type === 'R'" class="message-wrapper received">
            <img class="avatar" src="llama.png" alt="User Avatar">
            <div class="message received">
                <p>{{ msg.content }}</p>
            </div>
        </div>
            
        <div *ngIf="msg.options.length > 0" class="option-card">
            <div *ngFor="let opt of msg.options" class="option" [id]="opt.id" [ngClass]="{'selected': selectedOption === opt.id}" (click)="startConversation(opt.id)">
                <p>
                    <span *ngIf="opt.icon != ''">{{ opt.icon }}<br></span>
                    {{ opt.content }}
                </p>
            </div>
        </div>

        <div *ngIf="msg.type !== 'R'" class="message-wrapper sent">
            <div class="message sent">
                <p>{{ msg.content }}</p>
            </div>
        </div>
    </div>

    <div *ngIf="isWriting"class="message-wrapper received">
        <img class="avatar" src="llama.png" alt="User Avatar">
        <div class="message received">
            <div class="typing-indicator">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>
    </div>
</div>


<div class="message-input">
    <input type="text" placeholder="Scrivi la tua risposta..." #message (keydown.enter)="sendMessage()"/>
    <button (click)="sendMessage()">Invia</button>
</div>
