<div class="chat-container">
    <div class="message-wrapper received">
        <img class="avatar" src="llama.jpg" alt="User Avatar">
        <div class="message received">
            <p>Hello! How are you?</p>
        </div>
    </div>
    <div class="message-wrapper sent">
        <div class="message sent">
            <p>I'm good, thanks! How about you?</p>
        </div>
    </div>
</div>

<div class="message-input">
    <input type="text" placeholder="Type your message..." />
    <button>Send</button>
</div>
