<div class="chat-container">
    @for (msg of chatMessages; track msg)
    {
        @if(msg.type == "R") {
            <div class="message-wrapper received">
                <img class="avatar" src="llama.jpg" alt="User Avatar">
                <div class="message received">
                    <p>{{ msg.content }}</p>
                </div>
            </div>

            <!-- Card delle alternative -->
            @if(msg.options.length > 0) {
                <div class="option-card">
                    @for (opt of msg.options; track opt) {
                        <div class="option" id={{opt.id}}>
                            <p>
                                @if(opt.icon != "") {
                                    {{opt.icon}} <br>
                                }
                                {{opt.content}}</p>
                        </div>
                    }
                </div>
            }
        }
        @else {
            <div class="message-wrapper sent">
                <div class="message sent">
                    <p>{{ msg.content }}</p>
                </div>
            </div>
        }
    }
</div>



<div class="message-input">
    <input type="text" placeholder="Type your message..." #message/>
    <button (click)="sendMessage()">Send</button>
</div>
